* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    line-height: 1.5 !important;

    .bold {
        font-weight: 600 !important;
    }
}



