<template>
  <div class="principal">
    <div class="left-principal col-12 col-md-6 col-lg-4 p-0 ml-0">
      <LeftCard />
    </div>
    <div
      class="right-principal col-lg-8 col-md-6 p-0"
      :class="$route.name === 'Signin' ? 'signinImg' : 'recoveryImg'"
    >
      <RightCard />
    </div>
  </div>
</template>

<script>
import LeftCard from "../components/LeftCard.vue";
import RightCard from "../components/RightCard.vue";
export default {
  name: "Signin",
  components: { LeftCard, RightCard },
  computed: {
    getBgImage() {
      return this.$route.name === "Signin"
        ? "right-login.png"
        : "right-recovery.png";
    }
  }
};
</script>

<style lang="scss">
.principal {
  color: rgb(54, 54, 54);
  display: flex;
  height: 100vh;
  width: 100%;

  .left-principal {
    height: 100%;
    background: #fff;
  }

  .right-principal {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .signinImg {
    background: url("../assets/right-login.png") top right;
    background-size: cover;
  }

  .recoveryImg {
    background: url("../assets/right-recovery.png") top right;
    background-size: cover;
  }
}
</style>
