<template>
  <div class="left-container">
    <div class="col">
      <a href="https://www.wobiz.com/"
        ><img class="logo" src="../assets/logo.png" alt=""
      /></a>

      <div v-if="$route.name === 'Signin'">
        <LoginForm />
      </div>
      <div v-else-if="$route.name === 'Recovery'">
        <RecoveryForm />
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "../components/LoginForm.vue";
import RecoveryForm from "../components/RecoveryForm.vue";

export default {
  name: "LeftCard",
  components: { LoginForm, RecoveryForm }
};
</script>

<style lang="scss">
.left-container {
  padding: 30px 50px 30px 35px;

  img {
    &.logo {
      width: 130px;
    }
  }
}
</style>
