<template>
  <form @submit.prevent="login()">
    <h2>Ingresa a tu cuenta</h2>
    <div class="form-group">
      <label for="userEmail" class="form-label bold">Email</label>
      <input
        type="text"
        class="form-control"
        id="userEmail"
        aria-describedby="emailHelp"
        placeholder="Ej: usuario@mail.com"
        v-model="$v.user.username.$model"
        @keyup="resetMessage()"
      />
      <div v-if="submit">
        <div class="error" v-if="!$v.user.username.required">
          Necesitamos tu email.
        </div>
        <div class="error" v-if="!$v.user.username.email">
          El email ingresado no es correcto.
        </div>
        <div class="error" v-if="wrongUser">
          Tu email es incorrecto. Revísalo y vuelve a intentar.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="userPassword" class="form-label bold">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="userPassword"
        aria-describedby="passwordHelp"
        placeholder="Escribe tu contraseña"
        v-model="$v.user.password.$model"
        @keyup="resetMessage()"
      />
      <div v-if="submit">
        <div class="error" v-if="!$v.user.password.required">
          Necesitamos tu contraseña.
        </div>
        <div class="error" v-if="!$v.user.password.minLength">
          La contraseña no tiene un formato válido.
        </div>
        <div class="error" v-if="wrongPassword">
          Tu contraseña es incorrecta. Revísala y vuelve a intentar.
        </div>
      </div>
    </div>
    <div class="forgot-password">
      <a href="/recovery" class="gray-text">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit">Ingresar a mi cuenta</button>
      </div>
    </div>
  </form>
</template>

<script>
import axios from "axios";
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
  name: "LoginForm",
  data() {
    return {
      user: {
        username: null,
        password: null
      },
      submit: false,
      wrongUser: false,
      wrongPassword: false
    };
  },
  validations: {
    user: {
      username: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  methods: {
    login() {
      this.submit = true;
      this.resetMessage();
      this.$v.$touch();
      if (!this.$v.$invalid) {
        axios
          .post("http://localhost:3000/login", {
            username: this.user.username,
            password: this.user.password
          })
          .then(res => {
            if (res.data && res.data.code === 200) {
              localStorage.setItem("token", res.data.token);
              localStorage.setItem("user_id", res.data.user_id);
              window.location.href = "https://www.wobiz.com/";
            }
          })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              switch (error.response.data.code) {
                case 106:
                  this.wrongPassword = true;
                  break;
                case 108:
                  this.wrongUser = true;
                  break;
                default:
                  break;
              }
            }
          });
      }
    },
    resetMessage() {
      this.wrongUser = false;
      this.wrongPassword = false;
    }
  }
};
</script>

<style lang="scss">
form {
  h2 {
    margin-top: 2.4rem;
    margin-bottom: 1.25rem;
    color: #163a49;
    line-height: 1.2;
    font-size: 26px;
    font-weight: 700;
  }

  .form-group {
    margin-bottom: 0.8rem;

    label {
      font-size: 13px;
      margin-bottom: 0.4rem;
    }

    input {
      padding: 0.75rem 0.6rem;
    }

    .error {
      background: #e85837;
      border: none;
      color: #ffff;
      padding: 10px;
      font-weight: 700;
      margin-top: 13px;
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      border-radius: 3px;
    }
  }

  .forgot-password {
    margin-bottom: 0.5rem;
    a {
      font-size: 14px;
      color: #969696;
    }
  }

  button {
    margin-top: 0.7rem;
    height: 45px;
    font-weight: 700;
    background: #1bb8e3;
    font-size: 13px;
    padding: 0 16px;
    border: none;
    border-radius: 3px;
    width: 100%;
    color: #ffff;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #106e88;
    }

    &:focus {
      outline: none;
      background: #5a6268;
    }
  }
}
</style>
