<template>
  <form>
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>
      No te preocupes. Escribe tu email y te enviaremos las instrucciones para
      recuperarla.
    </p>
    <div class="form-group">
      <label for="userEmail" class="form-label bold">
        Email
      </label>
      <input
        type="text"
        class="form-control"
        id="userEmail"
        aria-describedby="emailHelp"
        placeholder="Ej: usuario@mail.com"
      />
    </div>
    <div class="row">
      <div class="col">
        <button type="submit">Recuperar contraseña</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center btn-back">
        <a href="/signin">Volver</a>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: "RecoveryForm"
};
</script>

<style lang="scss" scoped>
form {
  h2 {
    margin-top: 2.4rem;
    margin-bottom: 1.25rem;
    color: #163a49;
    line-height: 1.2;
    font-size: 26px;
    font-weight: 700;
  }

  p {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .form-group {
    margin-bottom: 0.8rem;

    label {
      font-size: 13px;
      margin-bottom: 0.4rem;
      margin-top: 0.2rem;
    }

    input {
      padding: 0.75rem 0.6rem;
    }
  }

  button {
    margin-top: 0.7rem;
    height: 45px;
    font-weight: 700;
    background: #1bb8e3;
    font-size: 13px;
    padding: 0 16px;
    border: none;
    border-radius: 3px;
    width: 100%;
    color: #ffff;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #106e88;
    }

    &:focus {
      outline: none;
      background: #5a6268;
    }
  }

  .btn-back {
    margin-top: 1.3rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: none;

    a {
      color: rgb(150, 150, 150);
    }
  }
}
</style>
