<template>
  <div class="row">
    <div class="create-account">
      <div class="col create-account-container">
        <p>
          {{
            $route.name === "Signin"
              ? "¿No tienes una cuenta en Wobiz?"
              : "¿Ya tienes una cuenta en Wobiz?"
          }}
        </p>
        <a :href="getUrl"
          ><button type="button" class="btn">
            <div class="button-text">
              {{ $route.name === "Signin" ? "Crea tu cuenta" : "Ingresa" }}
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RightCard",
  computed: {
    getUrl() {
      return this.$route.name === "Signin"
        ? "https://admin.wobiz.com.ar/signup"
        : "/signin";
    }
  }
};
</script>

<style lang="scss">
.create-account {
  position: relative;

  &-container {
    position: absolute;
    top: 2.6rem;
    right: 5.5rem;
    @media screen and (max-width: 930px) {
      display: none;
    }

    p {
      display: inline;
      margin: 10px 0.5rem;
    }

    a {
      text-decoration: none;

      button {
        display: inline;
        background: transparent;
        border: 1px solid #163a49;
        height: 35px;
        padding: 0 17px;

        &:hover {
          background: #163a49;
          color: #ffff;
        }

        .button-text {
          font-weight: 700;
          font-size: 13px;
        }
      }
    }
  }
}
</style>
